In [45]:
import pandas as pd
import numpy as np
import re
from calendar import month_abbr

import unicodedata

# TO-DO

- que se tome en cuenta si los primeros 2 datos son cm (actualmente se asume que son pulgadas)
  - ej: 27x25 cm (10x5 in)
  - NO NECESARIO
- checar tipo y téncnica
- que los precios estén bien
- sacar promedio para el precio estimado
- que el formato de la fecha sea el correcto

# limpieza de datos

In [109]:
def get_sold(df):
    
    sold = df[df['precio_venta'].str.contains('upcoming', case =False) == False]
    sold = sold[sold['precio_venta'].str.contains('live now', case =False) == False]
    sold = sold[sold['precio_venta'].str.contains('results coming soon', case =False) == False]
    sold = sold[sold['precio_venta'].str.contains('not sold', case =False) == False]
    
    return sold

In [183]:
df = pd.read_csv('../datasets/MutualArtLimpio.csv')
df_2 = pd.read_csv('../datasets/data_mutualart_completo.csv')


df_artistas = pd.read_csv('../datasets/lista_artistas.csv', encoding='utf8')

df = get_sold(df)
df_2 = get_sold(df_2)

In [115]:
#df_2.autor.unique() #641 authors

In [116]:
df.columns

Index(['ID', 'precio estimado', 'precio_venta', 'fecha', 'autor',
       'casa subasta', 'tipo', 'tecnica', 'dimensiones',
       'precio estimado dolares', 'precio venta dolares'],
      dtype='object')

# Clean date

In [186]:
def clean_date(df_orig):
    '''
    Cambia el formato a YYYY-MM-DD
    '''
    lower_ma = [m.lower() for m in month_abbr]
    df = df_orig.copy()
    
    months = df['fecha'].str.extract('^([a-z]{3})') 
    months = months[0].str.lower().map(lambda m: lower_ma.index(m)).astype('Int8')
    years = df['fecha'].str.extract('([0-9]{4})')
    days = df['fecha'].str.extract('([0-9]{2}),')

    df['fecha'] = years[0]+'-'+months.astype(str)+'-'+days[0]
    df['fecha'] = pd.to_datetime(df_clean['fecha'])
    
    return df

In [189]:
df_clean = clean_date(df)

# Clean nombres artistas

- from the MutualArtLimpio.csv dataset hay 95 artistas diferentes (con solo obras vendidas)
-

artistas que deberían hacer match
- cesar villacres -> cesar a.villacres
- emiliano di cavalcanti -> emiliano de cavalvanti
- graciela rodo-boulanger -> graciela rodo boulanger
- ignacio iturria -> ignacio de iturria
- jesus-rafael soto -> jesus rafael soto
- joaquin torres garcia -> joaquin torres-garcia
- jose maria mijares -> jose mijares
- leopoldo romanac -> leopoldo romaã‘ach
- ricardo martinez de hoyos -> ricardo martinez

In [193]:
def clean_autor(df):
    '''
    Limpiar artistas de mutual art y los modifica para
    ser iguales a la lista de artistas acordada
    
    Es probable que se tenga que modificar esta función para añadir nombres adicionales.
    Hay artistas que no son de la lista
    
    SUGERENCIA: quitarle los guiones a todos los nombres (de la tabla de referencia)
    '''
    df['autor'] = df['autor'].str.replace('cesar villacres', 'cesar a.villacres')
    df['autor'] = df['autor'].str.replace('emiliano di cavalcanti', 'emiliano de cavalvanti')
    df['autor'] = df['autor'].str.replace('graciela rodo-boulanger', 'graciela rodo boulanger')
    df['autor'] = df['autor'].str.replace('jesus-rafael soto', 'jesus rafael soto')
    df['autor'] = df['autor'].str.replace('joaquin torres garcia', 'joaquin torres-garcia')
    df['autor'] = df['autor'].str.replace('ignacio iturria', 'ignacio de iturria')
    df['autor'] = df['autor'].str.replace('jose maria mijares', 'jose mijares')
    df['autor'] = df['autor'].str.replace('emiliano di cavalcanti', 'emiliano de cavalvanti')
    df['autor'] = df['autor'].str.replace('ricardo martinez de hoyos', 'ricardo martinez')
        
    return df

In [194]:
len(df['autor'].unique())

95

In [195]:
df_artistas['autor'] = df_artistas['name']+' '+df_artistas['last_name']
df_artistas

     last_name          name  born   death notes                   autor
0        abela       eduardo  1889  1965.0   NaN           eduardo abela
1      alfonzo        carlos  1950  1991.0   NaN          carlos alfonzo
2    do amaral       tarsila  1886  1971.0   NaN       tarsila do amaral
3     anguiano          raul  1915  2006.0   NaN           raul anguiano
4          atl           dr.  1875  1964.0   NaN                 dr. atl
..         ...           ...   ...     ...   ...                     ...
110    velasco    jose maria  1840  1912.0   NaN      jose maria velasco
111  velasquez  jose antonio  1906  1985.0   NaN  jose antonio velasquez
112  villacres      cesar a.  1880  1941.0   NaN      cesar a. villacres
113    zarraga         angel  1886  1946.0   NaN           angel zarraga
114     zuniga     francisco  1912  1998.0   NaN        francisco zuniga

[115 rows x 6 columns]

In [196]:
df = clean_autor(df)

ma_authors = df.groupby(['autor']).count()['ID'].reset_index()
ma_authors.sort_values(by=['ID'], ascending=False)
ma_authors['temp_col'] = 1

In [197]:
merged_df = ma_authors.merge(df_artistas, how='outer', on='autor')
#merged_df[merged_df['autor']]
merged_df.shape

(147, 8)

In [198]:
merged_df[merged_df['temp_col'].isna() == True].sort_values(by=['autor'])

,autor,ID,temp_col,last_name,name,born,death,notes
143,abigail varela,NaN,NaN,varela,abigail,1948.0,NaN,NaN
103,agustin cardenas,NaN,NaN,cardenas,agustin,1927.0,2001.0,ESCULTURAS
120,agustin fernandez,NaN,NaN,fernandez,agustin,1928.0,2006.0,NaN
132,albert lynch,NaN,NaN,lynch,albert,1851.0,1930.0,NaN
110,alejandro colunga,NaN,NaN,colunga,alejandro,1948.0,NaN,NaN
106,alfredo castaã‘eda,NaN,NaN,castaã‘eda,alfredo,1938.0,2010.0,NaN
140,alicia penalba,NaN,NaN,penalba,alicia,1918.0,1982.0,NaN
97,antonio berni,NaN,NaN,berni,antonio,1905.0,1981.0,NaN
135,armando morales,NaN,NaN,morales,armando,1927.0,2011.0,NaN
131,august lohr,NaN,NaN,lohr,august,1843.0,1919.0,NaN
141,candido portinari,NaN,NaN,portinari,candido,1903.0,1962.0,NaN
118,carlos enriquez,NaN,NaN,enriquez,carlos,1901.0,1957.0,NaN
146,cesar a. villacres,NaN,NaN,villacres,cesar a.,1880.0,1941.0,NaN
100,claudio bravo,NaN,NaN,bravo,claudio,1936.0,2011.0,NaN
96,cundo bermudez,NaN,NaN,bermudez,cundo,1914.0,2008.0,NaN
136,dario morales,NaN,NaN,morales,dario,1944.0,1988.0,NaN
95,eduardo abela,NaN,NaN,abela,eduardo,1889.0,1965.0,NaN
108,emiliano de cavalcanti,NaN,NaN,de cavalcanti,emiliano,1897.0,1976.0,NaN
124,enrique grau,NaN,NaN,grau,enrique,1920.0,2004.0,NaN
102,federico del campo,NaN,NaN,del campo,federico,1837.0,1923.0,NaN
107,felipe castaã‘eda,NaN,NaN,castaã‘eda,felipe,1933.0,NaN,NaN
99,fernando botero,NaN,NaN,botero,fernando,1932.0,NaN,NaN
113,francisco corzas,NaN,NaN,corzas,francisco,1936.0,1983.0,NaN
127,frida kahlo,NaN,NaN,kahlo,frida,1907.0,1954.0,NaN
134,gustavo montoya,NaN,NaN,montoya,gustavo,1905.0,2003.0,NaN
129,helene joy laville,NaN,NaN,laville,helene joy,1923.0,2018.0,NaN
123,jacques-enguerrand gourgue,NaN,NaN,gourgue,jacques-enguerrand,1930.0,1998.0,NaN
109,jean charlot,NaN,NaN,charlot,jean,1898.0,1979.0,NaN
130,jesus leuus,NaN,NaN,leuus,jesus,1948.0,2008.0,NaN
116,jose luis cuevas,NaN,NaN,cuevas,jose luis,1933.0,2017.0,NaN
145,jose maria velasco,NaN,NaN,velasco,jose maria,1840.0,1912.0,NaN
137,leonardo nierman,NaN,NaN,nierman,leonardo,1932.0,NaN,NaN
122,leonor fini,NaN,NaN,fini,leonor,1908.0,1996.0,FRANCESA
105,leonora carringtion,NaN,NaN,carringtion,leonora,1917.0,2011.0,BRITISH
142,leopoldo romaã‘ach,NaN,NaN,romaã‘ach,leopoldo,1862.0,1951.0,NaN
133,manabu mabe,NaN,NaN,mabe,manabu,1924.0,1997.0,NaN
98,marcelo bonevardi,NaN,NaN,bonevardi,marcelo,1929.0,1994.0,NaN
126,maria izquierdo,NaN,NaN,izquierdo,maria,1902.0,1955.0,NaN
104,mario carreno,NaN,NaN,carreno,mario,1913.0,1999.0,NaN
125,marion greenwood,NaN,NaN,greenwood,marion,1909.0,1970.0,NaN
119,marisol escobar,NaN,NaN,escobar,marisol,1930.0,2016.0,ESCULTURAS
115,miguel covarrubias,NaN,NaN,covarrubias,miguel,1904.0,1957.0,NaN
101,norton bush,NaN,NaN,bush,norton,1834.0,1894.0,AMERICANO
114,olga costa,NaN,NaN,costa,olga,1913.0,1993.0,NaN
139,pablo o'higgins,NaN,NaN,o'higgins,pablo,1904.0,1983.0,NaN
111,pedro coronel,NaN,NaN,coronel,pedro,1923.0,1985.0,NaN
121,pedro figari,NaN,NaN,figari,pedro,1861.0,1938.0,NaN
138,philome obin,NaN,NaN,obin,philome,1892.0,1986.0,NaN
117,prefete duffaut,NaN,NaN,duffaut,prefete,1923.0,2012.0,NaN
112,rafael coronel,NaN,NaN,coronel,rafael,1932.0,2019.0,NaN
144,remedios varo,NaN,NaN,varo,remedios,1908.0,1963.0,NaN
128,wilfredo lam,NaN,NaN,lam,wilfredo,1902.0,1982.0,NaN

In [199]:
merged_df[merged_df['name'].isna() == True]

#38 artistas de la lista de artistas que no hacen match con datos de mutual art
#58 de mart que no hacen match con la lista de artistas

                      autor    ID  temp_col last_name name  born  death notes
8   antonio gonzalez orozco   1.0       1.0       NaN  NaN   NaN    NaN   NaN
11         arthur luiz piza   1.0       1.0       NaN  NaN   NaN    NaN   NaN
18        cesar a.villacres  41.0       1.0       NaN  NaN   NaN    NaN   NaN
19          cesar izquierdo   1.0       1.0       NaN  NaN   NaN    NaN   NaN
20            cristina cruz   1.0       1.0       NaN  NaN   NaN    NaN   NaN
21               daniel evo   1.0       1.0       NaN  NaN   NaN    NaN   NaN
24              debbie reda   1.0       1.0       NaN  NaN   NaN    NaN   NaN
30   emiliano de cavalvanti  58.0       1.0       NaN  NaN   NaN    NaN   NaN
31             emilio behar   1.0       1.0       NaN  NaN   NaN    NaN   NaN
38        francis luis mora   1.0       1.0       NaN  NaN   NaN    NaN   NaN
44       guillermo trujillo   1.0       1.0       NaN  NaN   NaN    NaN   NaN
46             hector ayala   1.0       1.0       NaN  NaN   NaN    NaN   NaN
50            helmut ditsch   1.0       1.0       NaN  NaN   NaN    NaN   NaN
51          herve telemaque   1.0       1.0       NaN  NaN   NaN    NaN   NaN
54     irma palacios flores   1.0       1.0       NaN  NaN   NaN    NaN   NaN
55           jerson jimenez   1.0       1.0       NaN  NaN   NaN    NaN   NaN
60            jorge camacho   1.0       1.0       NaN  NaN   NaN    NaN   NaN
61              jorge coste   1.0       1.0       NaN  NaN   NaN    NaN   NaN
64                jose haro  12.0       1.0       NaN  NaN   NaN    NaN   NaN
66            juan gastelum   1.0       1.0       NaN  NaN   NaN    NaN   NaN
70            julio le parc   1.0       1.0       NaN  NaN   NaN    NaN   NaN
71         leopoldo romanac  15.0       1.0       NaN  NaN   NaN    NaN   NaN
72        llewellyn decarlo   1.0       1.0       NaN  NaN   NaN    NaN   NaN
73        manuel chong neto   1.0       1.0       NaN  NaN   NaN    NaN   NaN
75             nelson roman   1.0       1.0       NaN  NaN   NaN    NaN   NaN
76   nicolas garcia uriburu   1.0       1.0       NaN  NaN   NaN    NaN   NaN
78         pedro friedeberg   2.0       1.0       NaN  NaN   NaN    NaN   NaN
79             plata lappas   1.0       1.0       NaN  NaN   NaN    NaN   NaN
81              raul milian   1.0       1.0       NaN  NaN   NaN    NaN   NaN
86        rodolfo abularach   1.0       1.0       NaN  NaN   NaN    NaN   NaN
89         sergio rodrigues   1.0       1.0       NaN  NaN   NaN    NaN   NaN
92            torrico prado   1.0       1.0       NaN  NaN   NaN    NaN   NaN

# Clean dimensiones
(height va primero)

idea 1:
- detectar si está en inches o cm (eliminar los que no incluyen medidas)
- extraer fracciones
- extraer los primeros 2 números

In [4]:

def fraction_char_replace(s):
    '''
    Reemplaza las fracciones representadas como un solo caracter y las convierte en decimales
    ej: ¾, ½ se convierten en .75 y .5
    Args: 
        s(str)- string de las dimensiones de una obra
    '''
    
    for c in s:
        try:
            name = unicodedata.name(c)
        except ValueError:
            continue
        if name.startswith('VULGAR FRACTION'):
            normalized = unicodedata.normalize('NFKC', c)
            numerator, _slash, denominator = normalized.partition('⁄')
            
            frac = int(numerator)/int(denominator)
            s = s.replace(c, str(frac))
            #yield c, numerator, denominator
            
            
    return s
            
#TO-DO
#- encontrar source de la fuente

In [5]:
def fraction_str_replace(s):
    '''
    Se asume que dentro de cada registro, se encuentra un 
    Formas de detectat una fraccion de la forma a/b:
    
    num a/b
    
    aaa/b
    
    num-a/b
    
    num.a/b
    
    ojo: existe .groups()
    '''
    if(re.search(' [0-9]?[0-9]/[0-9]?[0-9]', s)):  #tipo num a/b
        
        #es un ciclo porque se debe de tratar cada fraccion en todo el string
        for m in re.findall('([0-9]?[0-9])/([0-9]?[0-9])',s): #lista de tuplas para cada fracción
            num, denom = int(m[0]), int(m[1])
            frac = num/denom
            frac = re.sub('0','',str(frac))
            
            pattern = ' '+str(num)+'/'+str(denom)
            
            s = re.sub(pattern, frac,s)
        
    elif(re.search('[0-9][0-9]{2}?/[0-9][0-9]?',s)): #tipo aaa/b
        
        for m in re.findall('([0-9][0-9][0-9])/([0-9][0-9]?)',s): #lista de tuplas para cada fracción
            num, denom = int(m[0]), int(m[1])
            frac = num/denom
            pattern = str(num)+'/'+str(denom)
            
            s = re.sub(pattern, str(frac),s)
        
    elif(re.search('[0-9][0-9]?-[0-9][0-9]?/[0-9]?[0-9]',s)):
        #tipo num-a/b
        
        for m in re.findall('([0-9][0-9]?[0-9]?)/([0-9][0-9]?)',s): #lista de tuplas para cada fracción
            num, denom = int(m[0]), int(m[1])
            frac = num/denom
            frac = re.sub('0','',str(frac))
            pattern = '-'+str(num)+'/'+str(denom)
            
            s = re.sub(pattern, frac,s)
        
    elif(re.search('[0-9]\.[0-9][0-9]?/[0-9]?[0-9]',s)):
        #tipo num.a/b
        
        for m in re.findall('([0-9][0-9]?[0-9]?)/([0-9][0-9]?)',s): #lista de tuplas para cada fracción
            num, denom = int(m[0]), int(m[1])
            frac = num/denom
            frac = re.sub('0\.','',str(frac))
            pattern = str(num)+'/'+str(denom)
            
            s = re.sub(pattern, frac,s)
        
    else: 
        resp = 'no se detectó'
    
    return s

#TO-DO:
#simplificar código
#talvez se pueden hacer menos ifs
#mejorar comentarios

In [6]:
#test de la funcion anterior

#fracciones = df[df['dimensiones'].str.contains('[0-9]\/[0-9]') == True].copy()#.head(5)
#fracciones['tipo_frac'] = fracciones.dimensiones.apply(lambda x: fraction_str_replace(x))

In [7]:
#fracciones
#ejem = fracciones.iloc[2]['dimensiones']

In [8]:
def is_inches(s):
    '''
    
    '''
    no_measures_ids = ['various sizes', 'dimensions variable', 'property from the estate of bernard chappard\xa0 ...']
    inches_ids = ['in', '"', '\'\'', '″',  'a']
    cm_ids = ['cm', 'mm', 'm']
    
    if any(keyword in s for keyword in inches_ids):
        is_inch = 1
    elif any(keyword in s for keyword in cm_ids):
        is_inch = 0
    elif any(keyword in s for keyword in no_measures_ids):
        is_inch = -1
    else: 
        is_inch = 1 #if no imformation is given of it's measurements, it is assumed that the measures are in inches
        #is_inch = 2 #in case if a problem is detected and some rows need to be flagged
    
    return is_inch

In [40]:
def extract_numbers(df):
    '''
    Se extrae los primeros 2 valores numéricos que se encuentre y se pasan cm si son pulgadas. Se asumen 3 cosas:
    
    - que no hay obras de 3 dimensiones (esculturas, etc...)
    - si vienen las medidas 2 veces, primero se observan las pulgadas
    - 
    '''
    df['height'] = df.dimensiones.str.extract('([0-9][0-9]?[0-9]?\.?[0-9]?[0-9]?[0-9]?)') #normalmente se extrae el primer match
    temp_series = df.dimensiones.str.replace('[0-9][0-9]?[0-9]?\.?[0-9]?[0-9]?[0-9]?', '',regex=True, n=1)
    df['height'] = pd.to_numeric(df['height'])
    df['width'] = temp_series.str.extract('([0-9][0-9]?[0-9]?\.?[0-9]?[0-9]?[0-9]?)')
    df['width'] = pd.to_numeric(df['width'])
    
    return df
    #que las pase como números

In [12]:
def clean_dimensiones(df):
    '''
    Limpia la columna dimensiones y agrega las columnas de height y width
    '''
    df['dimensiones'] = df.dimensiones.apply(lambda x: fraction_char_replace(x))
    df['dimensiones'] = df.dimensiones.apply(lambda x: fraction_str_replace(x))
    df['is_inch'] = df.dimensiones.apply(lambda x: is_inches(x))
    df = extract_numbers(df)
    
    return df

In [46]:
df_clean = clean_dimensiones(df)

In [42]:
df_clean_2 = extract_numbers(df_clean)