In [27]:
import pandas as pd
import numpy as np

In [28]:
mutual_art = pd.read_csv('../../datasets/clean/clean_mut_art_ver2_ajustado.csv').drop(columns=['Unnamed: 0'])
artsy = pd.read_csv('../../datasets/clean/datosArtsy.csv')

In [29]:
def to_lower(df):
  columnsTolower = list(df.select_dtypes(include=['category','object']))
  for feature in columnsTolower:
      try:
          df[feature] = df[feature].str.lower()
      except:
          print('Error parsing '+feature)
  return df

In [30]:
artsy.height = artsy.height.str.split(' ')
artsy.length = artsy.length.str.split(' ')
artsy.height = artsy.height.apply(lambda x: x[0])
artsy.length = artsy.length.apply(lambda x: x[0])

In [31]:
# Transformación de tipo de datos
df = pd.concat([artsy,mutual_art])
df['height'] = df['height'].astype(float)
df['length'] = df['length'].astype(float)
df['price'] = df['price'].astype(float)
df['performance'] = df['performance'].astype(float)
#df['año_venta'] = pd.to_datetime(df['sale_date'],yearfirst=True)
#df['año_venta'] = df['año_venta'].astype(str).str.slice(stop=4)


# Añadir precio por cm2
df = df.assign(precio_cm2 = lambda x: (x['price']/(x['height']*x['length'])))
#Eliminar valores infinitos (Surgen cuando largo o ancho son 0)
df=df[~df.isin([np.inf, -np.inf]).any(1)]
df=to_lower(df)
df['author'] = df['author'].str.strip()

In [32]:
df['fecha'] = pd.to_datetime(df['fecha'], format="%Y-%m-%d")

In [33]:
df['mes'] = df['fecha'].dt.month.astype(str)
df['año'] = df['fecha'].dt.year.astype(str)

In [34]:
seleccion_artistas = df.groupby(['author']).agg({'año':['nunique','count'],'mes':['nunique','count'],'price':['mean','count']})

In [35]:
seleccion_artistas = seleccion_artistas[seleccion_artistas['año']['nunique']>13].reset_index()

In [36]:
seleccion_artistas

                     author     año           mes                price
                            nunique count nunique count           mean count
0    alfredo ramos martínez      22    96      11    96  151186.406250    96
1             angel zárraga      19    68       9    68  103368.014706    68
2             antonio seguí      25   402      12   402   23743.567164   402
3           armando reverón      19    43       4    43  242734.604651    43
4   benito quinquela martin      15   135       9   135   36451.866667   135
5    david alfaro siqueiros      24   787      13   787   35733.521154   780
6              diego rivera      26   811      13   811  114835.617728   810
7          emilio pettoruti      19    94       9    94   78098.602128    94
8       fernando de szyszlo      23   296      12   296   46401.516892   296
9          francisco toledo      25   723      13   723   51985.467479   718
10         francisco zuñiga      24  1181      12  1181   18667.059778  1171
11  graciela rodo-boulanger      16    51      12    51    2916.240000    50
12             héctor poleo      14    20       4    20   51964.700000    20
13        jesus-rafael soto      25   822      12   822   93928.495737   821
14    joaquín torres garcía      24   241      12   241  157177.476793   237
15             juan soriano      20   196      13   196   23726.571990   196
16        mariano rodriguez      22    94       9    94   85018.659574    94
17        rené portocarrero      24   254      12   254   30601.782609   253
18            roberto matta      15  1144      13  1144   55441.066518  1143
19            rufino tamayo      26  3084      13  3084   65723.748785  3071
20            tomás sánchez      24   159      10   159  182194.597484   159

artistas_obras = df[['author','title']].groupby(['author']).agg({'title':['count']})
artistas_obras = artistas_obras['title']
artistas_obras = artistas_obras.sort_values(by='count',ascending=False)
artistas_obras = artistas_obras.reset_index()
lista_artistas = artistas_obras.author.head(27).to_list()
df_artistas = df[df.author.isin(lista_artistas)]
df_artistas['fecha_corta'] = df_artistas['fecha'].str.slice(0,7)+'-01'

In [37]:
lista_artistas = seleccion_artistas.author.to_list()
df['fecha_corta'] = df['año'].astype(str) + '-' + df['mes'].astype(str)
df_artistas = df[df.author.isin(lista_artistas)]

In [38]:
df_artistas

,title,height,length,art_type,medium_text,date_text,age,house,sale_date,price,author,performance,source,country,fecha,precio_cm2,mes,año,fecha_corta
1201,reflejos plateados,69.900,60.000,painting,oil on masonite,1977.0,87.0,christie's,1969-12-31 18:00:44.033,12500.0,benito quinquela martin,-0.170000,artsy,argentina,NaT,2.980448,nan,nan,nan-nan
1202,mañana de invierno con escarcha,121.900,121.900,painting,oil on board,1977.0,87.0,christie's,1969-12-31 18:00:43.789,40000.0,benito quinquela martin,-0.200000,artsy,argentina,NaT,2.691861,nan,nan,nan-nan
1203,tormenta con sol,48.500,59.500,painting,oil on board,1969.0,79.0,sotheby's,1969-12-31 18:00:43.782,17500.0,benito quinquela martin,0.000000,artsy,argentina,NaT,6.064281,nan,nan,nan-nan
1204,contra luiz,89.500,99.700,painting,oil on board,1960.0,70.0,bonham,1969-12-31 18:00:43.599,27575.0,benito quinquela martin,-0.080000,artsy,argentina,NaT,3.090276,nan,nan,nan-nan
1205,puerto de buenos aires,70.000,50.000,painting,oil on board,1977.0,87.0,christie's,1969-12-31 18:00:43.060,25000.0,benito quinquela martin,-0.170000,artsy,argentina,NaT,7.142857,nan,nan,nan-nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10457,senza titolo,252.730,150.000,arte moderna e contemporanea,pastel on paper mounted on canvas,1951.0,71.0,christie's,NaN,68442.0,roberto matta,0.908236,mutual art,-,2008-11-24,1.805405,11.0,2008.0,2008.0-11.0
10472,"no, no dice uno mientras otro duerme en el suelo",190.750,190.750,post-war & contemporary art,graphite and conté crayon and pastel on paper,1966.0,56.0,christie's,NaN,7716.0,roberto matta,0.750000,mutual art,-,2008-12-11,0.212062,12.0,2008.0,2008.0-12.0
10480,las majas desnudas (dessin pour carmen ),28.000,38.100,impressionist & modern art day sale,"wax crayon, coloured crayon and pencil on paper",1940.0,82.0,sotheby's,NaN,37453.0,roberto matta,0.750000,mutual art,-,2009-02-04,35.107799,2.0,2009.0,2009.0-2.0
10491,the new school,6.000,7.875,19th & 20th century prints & drawings,drypoint,1943.0,79.0,swann auction galleries,NaN,2319.0,roberto matta,1.120019,mutual art,-,2009-03-05,49.079365,3.0,2009.0,2009.0-3.0
10492,the new school,7.875,10.000,19th & 20th century prints & drawings,drypoint,1943.0,79.0,swann auction galleries,NaN,2651.0,roberto matta,0.960003,mutual art,-,2009-03-05,33.663492,3.0,2009.0,2009.0-3.0

In [39]:
df_artistas_anual = df_artistas[['author','año','price']]
df_artistas = df_artistas[['author','fecha_corta','price']]

In [40]:
df_artistas['% change'] = df_artistas.groupby(['author'])['price'].pct_change()
df_artistas_anual['% change'] = df_artistas_anual.groupby(['author'])['price'].pct_change()

/var/folders/c7/yrk77vqj3jj31wf8sfvg8tyw0000gn/T/ipykernel_70870/3981855572.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_artistas['% change'] = df_artistas.groupby(['author'])['price'].pct_change()
/var/folders/c7/yrk77vqj3jj31wf8sfvg8tyw0000gn/T/ipykernel_70870/3981855572.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_artistas_anual['% change'] = df_artistas_anual.groupby(['author'])['price'].pct_change()

In [41]:
df_artistas_anual.tail(10)

              author     año    price  % change
10345  roberto matta  2008.0   3577.0  1.599564
10364  roberto matta  2008.0  17195.0  3.807101
10397  roberto matta  2008.0  68780.0  3.000000
10416  roberto matta  2008.0  27512.0 -0.600000
10456  roberto matta  2008.0  57272.0  1.081710
10457  roberto matta  2008.0  68442.0  0.195034
10472  roberto matta  2008.0   7716.0 -0.887262
10480  roberto matta  2009.0  37453.0  3.853940
10491  roberto matta  2009.0   2319.0 -0.938082
10492  roberto matta  2009.0   2651.0  0.143165

In [42]:
len(df_artistas.author.unique())

21

In [43]:
df_artistas = df_artistas.groupby(['author','fecha_corta']).agg({'% change':['mean']})
df_artistas_anual = df_artistas_anual.groupby(['author','año']).agg({'% change':['mean']})

In [44]:
df_artistas_anual

                                % change
                                    mean
author                 año
alfredo ramos martínez 2000.0        NaN
                       2001.0   1.543487
                       2002.0  -0.301231
                       2003.0  -0.155540
                       2004.0   1.819231
...                                  ...
tomás sánchez          2018.0   2.481098
                       2019.0  10.913080
                       2020.0  17.510908
                       2021.0  13.280020
                       2022.0  89.535586

[451 rows x 1 columns]

In [45]:
df_artistas = df_artistas['% change'].reset_index()
df_artistas_anual = df_artistas_anual['% change'].reset_index()

In [46]:
df_artistas_wide = df_artistas.pivot(index='fecha_corta', columns='author', values='mean').reset_index()
df_artistas_anual_wide = df_artistas_anual.pivot(index='año', columns='author', values='mean').reset_index()

In [47]:
df_artistas_anual_wide

author,año,alfredo ramos martínez,angel zárraga,antonio seguí,armando reverón,benito quinquela martin,david alfaro siqueiros,diego rivera,emilio pettoruti,fernando de szyszlo,...,graciela rodo-boulanger,héctor poleo,jesus-rafael soto,joaquín torres garcía,juan soriano,mariano rodriguez,rené portocarrero,roberto matta,rufino tamayo,tomás sánchez
0,1998.0,NaN,NaN,NaN,NaN,NaN,NaN,0.002920,NaN,NaN,...,NaN,NaN,17.722892,-0.124946,NaN,NaN,-0.227428,45.097508,1.296444,NaN
1,1999.0,NaN,-0.778693,1.271224,NaN,NaN,NaN,38.179396,3.914348,3.362000,...,NaN,NaN,3.300723,8.751479,NaN,1.181067,0.741738,1.232232,14.228287,1.500000
2,2000.0,NaN,1.794673,10.579036,1.341353,NaN,1.802350,0.317234,NaN,NaN,...,NaN,NaN,13.817426,NaN,NaN,NaN,5.325215,2.342877,5.376149,1.906532
3,2001.0,1.543487,1.107088,-0.954184,-0.298801,NaN,17.016052,11.875910,NaN,-0.279092,...,NaN,NaN,9.362430,-0.502144,NaN,-0.218975,NaN,6.077721,28.055561,0.678322
4,2002.0,-0.301231,NaN,2.301788,0.617561,NaN,4.192325,3.488484,NaN,-0.322533,...,-0.874715,-0.639140,0.763869,59.570266,NaN,10.550642,-0.381364,5.532216,6.264322,0.325690
5,2003.0,-0.155540,3.823754,0.446940,NaN,NaN,26.647831,0.815081,NaN,0.193171,...,NaN,0.303754,-0.264183,-0.600376,0.833161,0.300339,0.318457,11.918002,3.676416,0.721117
6,2004.0,1.819231,1.984529,1.340978,NaN,NaN,-0.067445,1.675534,NaN,NaN,...,NaN,NaN,2.700006,0.947893,NaN,NaN,0.704094,3.927280,21.762015,0.920809
7,2005.0,-0.788098,-0.012382,2.382011,NaN,NaN,8.055694,1.036019,-0.907997,0.655329,...,87.236364,NaN,24.753476,3.499032,-0.113212,-0.519695,1.601801,6.060535,17.673087,2.293562
8,2006.0,373.092207,3.853103,0.328354,-0.377866,NaN,0.534711,1.948648,NaN,-0.411826,...,NaN,NaN,2.284741,7.443287,-0.272916,3.674981,0.586301,2.880377,0.936248,1.399481
9,2007.0,0.629564,0.651124,2.438945,0.562848,NaN,10.270163,1.201857,15.522378,-0.106369,...,NaN,NaN,25.038514,1.192855,5.483851,20.450832,10.738840,12.623469,2.403353,0.547940
10,2008.0,5.480489,NaN,0.427215,NaN,NaN,26.704398,2.778004,0.382288,0.243818,...,NaN,3.754671,3.013128,-0.117781,9.089300,1.423531,0.900107,5.003298,8.242786,19.101031
11,2009.0,NaN,NaN,6.550770,-0.204168,-0.018311,4.638588,2.580498,-0.657482,2.799551,...,-0.585136,-0.508064,11.456681,1.512730,0.184869,2.790232,0.857976,1.019674,3.131075,0.220313
12,2010.0,2.185429,0.008880,1.123770,1.022552,1.001479,3.536721,2.105808,2.851319,0.271732,...,0.817507,-0.859431,5.042649,4.070793,0.017996,1.304576,0.781794,NaN,2.875785,1.334135
13,2011.0,0.376439,1.471672,2.221137,-0.481245,1.426850,52.470473,1.045497,1.846516,0.545307,...,9.052445,NaN,1.776507,56.587277,-0.125856,4.477612,1.798548,NaN,0.854568,-0.331178
14,2012.0,20.486263,1.966334,7.086433,0.594201,1.177203,36.903112,22.148848,2.682100,9.145919,...,2.813599,8.345732,4.461966,3.787178,2.400081,1.326802,1.857482,NaN,10.571182,3.957150
15,2013.0,81.426937,NaN,18.246767,1.581722,1.708171,27.592838,2.863335,-0.243037,5.531249,...,2.203607,NaN,2.490451,2.893024,5.034351,2.812149,0.486706,NaN,4.890941,1.345021
16,2014.0,14.857364,51.613500,0.744020,-0.414193,0.392135,10.761308,2.125971,-0.783507,6.522298,...,0.415168,-0.644493,4.481218,3.614257,6.428943,8.936773,2.069648,NaN,1.432924,1.679318
17,2015.0,-0.280293,-0.748488,1.180228,0.296178,1.500766,9.973895,14.514304,7.182003,0.242905,...,4.829320,NaN,2.130366,28.857956,7.087496,-0.260119,3.186519,NaN,1.376677,1.472278
18,2016.0,0.372324,0.298213,14.710478,-0.127587,13.295329,9.127787,3.191914,9.261642,0.125167,...,4.237811,NaN,20.224829,1.034008,-0.928809,9.946351,8.251296,NaN,5.862871,94.601256
19,2017.0,2.495182,2.567718,6.324243,0.920657,-0.014900,7.588142,3.558260,-0.347227,4.101946,...,4.271815,0.062386,3.810042,16.890845,12.054784,11.602732,1.155446,NaN,2.279172,11.637648
20,2018.0,2.228665,-0.396814,5.422298,-0.090184,39.121481,7.369119,5.851608,-0.995145,3.151575,...,1.464451,0.952305,23.669327,2.797485,3.258535,0.958887,2.837228,NaN,14.225200,2.481098
21,2019.0,1.378613,9.181494,18.999313,0.309611,0.205279,5.234378,8.350559,74.794318,2.578276,...,43.832570,-0.821416,14.045510,3.469940,7.473052,13.142258,3.404182,NaN,5.663781,10.913080
22,2020.0,9.370591,264.304784,13.887295,NaN,-0.131401,6.702535,2.638516,14.573145,0.915867,...,14.688047,-0.917894,5.771720,2.868663,4.790361,1.300465,3.470534,NaN,3.691076,17.510908
23,2021.0,8.165001,NaN,7.463866,0.620936,73.957606,9.509636,5.582839,8.384098,1.771922,...,18.719349,24.435380,12.153187,13.999757,2.873026,0.082026,2.885634,36.963939,2.542835,13.280020
24,2022.0,3.118200,6.837391,4.760123,-0.752787,-0.032401,30.917893,1.841819,17.830497,-0.110215,...,-0.480050,-0.496981,25.426081,8.884358,8.849541,NaN,11.574088,13.054614,6.671449,89.535586
25,nan,NaN,NaN,NaN,NaN,8.628664,NaN,NaN,11.716129,NaN,...,NaN,NaN,NaN,NaN,4.066146,47.690384,NaN,NaN,NaN,NaN

In [48]:
#df_artistas_wide.to_excel('../../datasets/clean/performance_artistas_pct_chsnge.xlsx')
df_artistas_anual_wide.to_excel('../../datasets/clean/performance_anual_artistas_pct_chsnge.xlsx')