In [1]:
import pandas as pd
import numpy as np
import datetime as dt

## Falta:

- calcular returns y volatility por cada artista
  - idea: pasar art_aggs a formato wide (que cada columna sea un autor)
- definir mejor asset allocation de cada artista
  - excel si no ven como hacerlo aquí

In [2]:
art = pd.read_csv('../../datasets/clean/clean_mut_art_ver2_ajustado.csv')

In [5]:
#calculate anual return of latam art (diferencia de precio promedio por mes)
art['fecha'] = pd.to_datetime(art['fecha'])
art['year'] = art.fecha.dt.year
art['month'] = art.fecha.dt.month

art['year-month'] = art['year'].astype(str)+'-'+art['month'].astype(str)

art_aggs = art.groupby(by=['year-month', 'year', 'author'])['price'].mean().reset_index().sort_values(by='year-month', ascending=False)#by='title', ascending=False).head(30)

art_aggs


art_aggs

     year-month  year                 author         price
3666     2022-9  2022       sergio rodrigues           NaN
3652     2022-9  2022      jesus-rafael soto    373.500000
3639     2022-9  2022   carlos orozco romero    697.000000
3640     2022-9  2022        césar izquierdo           NaN
3641     2022-9  2022             daniel evo    274.000000
...         ...   ...                    ...           ...
2       1998-10  1998     federico del campo  89125.000000
1       1998-10  1998           diego rivera  25073.000000
4       1998-10  1998         rodolfo amoedo  16189.000000
5       1998-10  1998          rufino tamayo   6059.666667
0        1998-1  1998       julio montenegro   2558.000000

[3667 rows x 4 columns]

In [ ]:
#ejemplo para calcular returns

#habría que hacer para cada autor
#art_aggs['past_close'] = art_aggs['price'].shift(-1)
#art_aggs['returns'] = ((art_aggs['price']-art_aggs['past_close'])/art_aggs['past_close'])/100

In [ ]:
#sacar return de cada autor
#  art_means = art_aggs.returns.mean()*12*100
#  art_vars = (art_aggs.returns.var()*12)**0.5

In [ ]:
#gráfica
#df.scatter(x='volatility', y='returns', marker='o', s=10, grid=True, figsize=[10,10])

In [ ]:
#asset allocation